@import "partials/mixin";

@import "http://webfonts.ru/import/opensans.css";
/*
	Open Sans, 300, 300 italic, 400, 400 italic, 600, 600 italic, 700, 700 italic, 800, 800 italic
*/

html {
	font-family: $font;
}
body {
	font-family: $font;
}

h1 {
	padding: 20px;
	margin: 20px;
	background: #f1f1f1;
	color: #c00;

	@include border-radius(20px);
}